.classifyDetails {
  width: 100%;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  * {
    transition: all 0.5s;
  }
}

.loadingBox {
  width: 85%;
  height: 85vh;
  padding: 20px;
  background-color: var(--w-alpha-20);
  border-radius: 10px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  margin-bottom: 20px;
  margin-top: 20px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
