.text-input{
    width: 70%;
    min-height: 70px;
    color: #fff;
    padding: 15px 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    .text-box{
        display: inline-block;
        line-height: 40px;
        font-size: 20px;
        .text-focus{
            display: inline-block;
            width: 0;
            height: 40px;
            position: relative;
            &::before{
                content: "";
                width: 0;
                height: 40px;
                position: absolute;
                right: 0;
                top: 12px;
                left: 5px;
                border-right: solid #fff 3px;
            }
        }
    }
}