.about {
  width: 100%;
  padding-top: 80px;
  display: flex;
  justify-content: center;

  * {
    transition: all 0.5s;
  }
}

.content {
  width: 80%;
  margin: 0 auto;
  background-color: var(--bg-w-pure);
  padding: 50px;
  overflow: hidden;
}

.content_mobile {
  width: 93%;
  margin: 0 auto;
  background-color: var(--bg-w-pure);
  padding: 30px;
  overflow: hidden;
}
