.text_input {
  width: 70%;
  min-height: 140px;
  color: #000;
  padding: 15px 70px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

  .text_box {
    display: inline-block;
    line-height: 2rem;
    font-size: 20px;
    text-align: center;
    // background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // border-top-left-radius: 10px;
    // border-top-left-radius: 10px;

    .text_focus {
      display: inline-block;
      width: 0;
      height: 40px;
      position: relative;

      &::before {
        content: '';
        width: 0;
        height: 40px;
        position: absolute;
        right: 0;
        top: 12px;
        left: 5px;
        border-right: solid 3px;
        animation: heart 300ms alternate ease infinite;
      }
    }
  }
}

@keyframes heart {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
