.timeAxis {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  height: 130px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 500;
}

.main {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  position: relative;

  &::after {
    position: absolute;
    height: 100%;
    width: 10px;
    background-color: aqua;
    z-index: 999;
  }
}

.footer {
  width: 100%;
  height: 60px;
  background-color: aqua;
}
