.timeAxis {
  width: 100%;

  * {
    transition: all 0.5s;
  }
}

.main {
  width: 100%;
  flex: 1;
}

.list_item {
  padding-top: 100px;
  height: 120px;
  width: 100%;
  margin: 0 auto 20px;
  border-radius: 10px;
  color: var(--b-alpha-80);
  display: flex;

  .list_item_left {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .list_item_border {
    width: 5%;
    height: 100%;
  }

  .list_item_right {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
