.secret {
  width: 100%;
  height: 100%;
  background-image: url('/bgImg/secret00001.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  padding-top: 60px;
}

.secret_pc .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;

  .left {
    width: 35%;
    height: 100%;
    background-color: var(--w-alpha-80);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    box-shadow: -10px 0 30px 10px var(--w-alpha-90);
    transition: all 1s;

    .time {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 46px;
      margin-top: 20px;
      color: var(--txt-b-pure);
      transition: color 1s;
    }

    .left_con {
      width: 100%;
      flex: 1;
      min-height: 0;
      overflow: hidden;
      font-size: 18px;
      line-height: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: var(--b-alpha-90);
      transition: color 1s;

      p {
        text-indent: 2em;
      }
    }
  }

  .right {
    margin-left: 15px;
    min-width: 0;
    flex: 1;
    height: 100%;
    background-color: var(--w-alpha-80);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    box-shadow: 10px 0 30px 10px var(--w-alpha-90);
    transition: all 1s;
  }
}

.secret_mobile {
  padding: 70px 10px 10px;

  .content {
    width: 100%;
  }
}
