.footer {
    width: 100%;
    height: 200px;
    position: relative;

    .bg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: #fff;
        background: url(https://wp-1302605407.cos.ap-beijing.myqcloud.com/img/src%3Dhttp_%252F%252Fuploads.5068.com%252Fallimg%252F161207%252F68-16120G91208.jpg%26refer%3Dhttp_%252F%252Fuploads.5068.jpg) no-repeat;
        background-size: 100% auto;
        -webkit-filter: blur(15px);
        -moz-filter: blur(15px);
        -o-filter: blur(15px);
        -ms-filter: blur(15px);
        filter: blur(15px);
    }

    .content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .footer-carousel {
        width: 100%;
        transition: 0.5s;
        height: 100px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }
    }

    .tags {
        width: 100%;
        height: 100px;
        padding: 0 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .tagItem {
            padding: 0 10px;
            line-height: 50px;
            font-size: 16px;
            color: #fff;

            &:hover {
                color: cyan;
            }
        }
    }
}