.home {
  width: 100%;

  .header {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .title {
      font-size: 60px;
      color: var(--txt-white);
      text-shadow: 5px 5px 5px #293f54;
    }

    .title_mobile {
      font-size: 30px;
      color: var(--txt-white);
      text-shadow: 5px 5px 5px #293f54;
    }

    .bottom_btn {
      position: absolute;
      bottom: 0;
      font-size: 30px;
      animation: btn 1.5s linear infinite alternate;
      cursor: pointer;
      color: var(--txt-white);
      font-weight: 600;
    }
  }

  .about_me {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-w-pure);
  }

  .carousel {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-w-245);
  }

  .footer {
    width: 100%;
  }
}

@keyframes btn {
  0% {
    transform: scale(0.5);
    opacity: 0.4;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
