.graphic {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;

  .title {
    height: 90px;
    width: 100%;
    font-size: 30px;
    color: var(--txt-b-pure);
    line-height: 90px;
    text-align: center;
  }

  .border {
    width: 50px;
    height: 3px;
    background-color: var(--theme-color);
    margin-bottom: 40px;
  }

  .content {
    width: 100%;
    flex: 1;
    min-height: 0;
    padding: 50px;
  }

  .contentMobile {
    width: 100%;
    flex: 1;
    min-height: 0;
  }
}

.carouselComItem {
  width: 100%;
  height: calc(100% - 30px);
  display: flex;
  padding: 0 20px;
  overflow: hidden;

  .carouselComItem_left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .carouselComItem_right {
    width: 50%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .carouselComItem_title {
      width: 100%;
      height: 15%;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: var(--txt-b-pure);
    }

    .carouselComItem_time {
      width: 100%;
      height: 5%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: var(--b-alpha-60);
    }

    .carouselComItem_desc {
      flex: 1;
      min-height: 0;
      padding-top: 15px;
      overflow: hidden;
      display: flex;
      align-items: center;

      .desc_content {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        line-height: 2rem;
        text-indent: 2rem;
        color: var(--b-alpha-80);
        font-size: 16px;
      }
    }
  }
}

.carouselComItemMobile {
  width: 100%;
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;

  .carouselComItem_left {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .carouselComItem_right {
    width: 100%;
    height: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .carouselComItem_title {
      width: 100%;
      height: 15%;
      font-size: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--txt-b-pure);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .carouselComItem_time {
      width: 100%;
      height: 15%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: var(--b-alpha-60);
    }

    .carouselComItem_desc {
      width: 100%;
      flex: 1;
      min-height: 0;
      padding: 8px 0;
      overflow: hidden;
      display: flex;
      align-items: center;

      .desc_content {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        line-height: 2.2rem;
        text-indent: 2rem;
        color: var(--b-alpha-80);
        font-size: 16px;
      }
    }
  }
}
