<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="keywords" content="于风里读诗" />
  <meta name="keywords"
    content="于风里读诗,个人博客,于风里读诗的博客站,于风里读诗的空间,博客,博客站,wp-boke,wp-boke.work,www.wp-boke.work,前端,前端资料,生活分享,记录心情" />
  <meta name="description" content="于风里读诗" />
  <meta name="description"
    content="本博客网站由于风里读诗独立开发，为个人博客站点，分享自己平时的知识积累，记录自己的生活，将自己的所学应用到网站上，积累学习成果，主要内容为前端知识分享，一些最新的技术踩坑等。" />
  <meta name="description"
    content="以下为本站内容分类：html,css3,javaScript,vue3,react,umiJs,uni-app,taro,antd,echarts,webpack,axios,npm,nodejs,express,koa2,egg,mySql,jenkins,http,数据库,git,文集,生活,树洞" />
  <meta itemprop="name" content="于风里读诗" />
  <meta name="author" content="webwp0403@163.com" />
  <meta name="robots" content="all" />
  <meta http-equiv="Window-target" content="_top" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> -->
  <title>于风里读诗</title>
  <link rel="stylesheet" href="https://wp-1302605407.cos.ap-beijing.myqcloud.com/css/katex.min.css">
</head>

<body>
  <noscript>Out-of-the-box mid-stage front/design solution!</noscript>
  <div id="root"></div>
</body>

</html>
