<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="keywords" content="antd,umi,umijs,ant design,layout, 博客, 于风里读诗, gitee,github" />
  <meta name="description" content="前后端学习资料整理">
  <meta http-equiv="Window-target" content="_top">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> -->
  <title>于风里读诗</title>
</head>

<body>
  <noscript>Out-of-the-box mid-stage front/design solution!</noscript>
  <div id="root"></div>
</body>

</html>
