.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;

  .bgImg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
  }
}

.gradientBg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
}
