.classify {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F8FA;
    animation: classifyWidth 1s linear 1;
    // animation-fill-mode: none; //动画执行前后不改变任何样式 
    animation-fill-mode: forwards; //保持目标动画最后一帧的样式 
    // animation-fill-mode: backwards; //保持目标动画第一帧的样式 
    // animation-fill-mode: both; //动画将会执行 forwards 和 backwards 执行的动作。

    .classify_header {
        width: 100%;
        height: 480px;
        position: relative;
        color: #fff;
        position: relative;

        .classify_header_bg {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(5px);
            background-image: url(https://wp-1302605407.cos.ap-beijing.myqcloud.com/img/%E7%AE%80%E7%BA%A6%E8%83%8C%E6%99%AF/025.png);
            background-repeat: no-repeat;
            background-size: 100% auto;
        }

        .classofy_header_content {
            position: absolute;
            left: 50%;
            right: 50%;
            z-index: 3;
            transform: translate(-50%, 80%);
            width: 50%;
            height: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
        }

        .classofy_header_content_top {
            height: 50px;
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 50px;
        }

        .classofy_header_content_bottom {
            min-height: 50px;
            font-size: 20px;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;

            .classofy_header_content_item {
                font-size: 20px;
                font-weight: 600;
                padding: 5px 30px;
                margin: 0 10px 5px 10px;
                background: rgba(255, 255, 255, 0.3);
                border-radius: 10px;
                cursor: pointer;
                transition: 0.5s;

                &:hover{
                    color: #09f;
                    background-color: rgba(255,255,255,0.8);
                    box-shadow: 0 0 5px 5px #ccc;
                }
            }
            .classofy_header_content_item.active{
                color: cornflowerblue;
                background-color: rgba(255,255,255,1);
            }
        }
    }

    .classify_main{
        width: 60%;
        flex: 1;
        .classify_main_content{
            width: 100%;
            padding: 50px;
        }

        .classify_main_content_item{
            width: 100%;
            height: 150px;
            border: 1px #aaa solid;
            margin-bottom: 30px;
            padding: 20px 50px;
            background-color: #fff;
            border-radius: 10px;
            cursor: pointer;
            position: relative;

            &::after{
                position: absolute;
                left: -30px;
                top: 0;
                width: 15px;
                height: 15px;
                content: "";
                border: 2px #09f solid;
                border-radius: 50%;
            }

            &::before{
                position: absolute;
                left: -24px;
                top: 17px;
                width: 2px;
                height: 160px;
                content: "";
                background-color: #09f;
            }

            .classify_main_item_time{
                height: 30px;
                font-size: 20px;
                line-height: 30px;
            }

            .classify_main_item_title{
                height: 50px;
                font-size: 35px;
                font-weight: 800;
                line-height: 50px;
            }

            .classify_main_item_fileType{
                height: 30px;
                font-size: 16px;
                line-height: 30px;
            }
        }

        .classify_main_content_item:nth-last-child(1){
            &::before{
                position: absolute;
                left: -24px;
                top: 17px;
                width: 2px;
                height: 130px;
                content: "";
                background-color: #09f;
            }
        }
    }

    .classify_footer{
        width: 80%;
        border-top: 1px #000 solid;
        height: 200px;
    }
}

@keyframes classifyWidth {
    from{transform: scaleX(0);} //开始点 相当于百分之零
    to{transform: scaleX(1);} //结束点 相当于百分之百
}

.topNav {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
}

.topNav.active {
    background-color: rgba(0, 0, 0, 0.2);
}