.list {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  * {
    transition: all 0.5s;
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .listBox {
    width: 85%;
    height: 70%;
    background-color: aliceblue;
  }

  .pageBox {
    width: 85%;
    height: 20%;
    background-color: aquamarine;
  }
}
